:root {
    --background-color: #22222E;
    --button-color: #393A5A;
    --next-button-color: #198754;
    --body-text-color: #fff;
    --button-selected-color: #fff;
    --header-color: white;
    --button-text-color: white;
    --next-button-text-color: white;
    --active-dot-color: #0d6efd;
    --inactive-dot-color: #6c757d;
    --header-font: 'header-default';
    --body-font: 'body-default';
    --button-font: "button-default";
    --button-font: "next-default";
    --header-font-adjust: 0;
    --button-font-adjust: 0;
    --next-font-adjust: 0;
    --text-margin: 10;
}

@font-face {
    font-family: "header-default";
    src: url("../_fonts/OpenSans-Bold.ttf");
}
@font-face {
    font-family: "button-default";
    src: url("../_fonts/OpenSans-Bold.ttf");
}
@font-face {
    font-family: "body-default";
    src: url("../_fonts/OpenSans-Regular.ttf");
}
@font-face {
    font-family: "next-default";
    src: url("../_fonts/OpenSans-Regular.ttf");
}