:root {
    --background-color: #2f3e4f;
    --button-color: #1a2b3c;
    --button-touched-color: #3b5c8a;
    --success-message-color: #e06a47;
    --header-color: #f5f5f0;
    --subheader-color: #e6e6e2;
    --footer-color: #f5f5f0;
    --subfooter-color: #e6e6e2;
    --button-text-color: #f5f5f0;
    --header-font: 'header-default';
    --subheader-font: "subheader-default";
    --footer-font: 'footer-default';
    --subfooter-font: "subfooter-default";
    --button-font: "button-default";
    --header-font-adjust: 0;
    --subheader-font-adjust: 0;
    --footer-font-adjust: 0;
    --subfooter-font-adjust: 0;
    --button-font-adjust: 0;
    --image-height: 90;
}

@font-face {
    font-family: "header-default";
    src: url("../_fonts/OpenSans-Bold.ttf");
}
@font-face {
    font-family: "subheader-default";
    src: url("../_fonts/OpenSans-Regular.ttf");
}
@font-face {
    font-family: "footer-default";
    src: url("../_fonts/OpenSans-Bold.ttf");
}
@font-face {
    font-family: "subfooter-default";
    src: url("../_fonts/OpenSans-Regular.ttf");
}
@font-face {
    font-family: "button-default";
    src: url("../_fonts/OpenSans-Bold.ttf");
}