.media-preview {
    width: 100%;
    max-height: 200px;
    object-fit: contain;
    display: none;
    cursor: pointer;
}
#editPaneRow {
    display: none;
    max-height: 500px;
    overflow-y: auto;
}
#itemsList {
    max-height: 500px;
    overflow-y: auto;
}
#wizardMediaImportList {
    max-height: 35vh;
    overflow-y: auto;
}