 .channel-entry {
    background-color: #2D648B;
    color: white;
}
.meta-entry {
    background-color: #142f43;
    color: white;
}
.clr-field button {
    width: 100%;
    height: 100%;
}
.fixture-header {
    background-color: #28587B;
    color: white;
    font-weight: bold;
    font-size: larger;
}
.meta-header {
    background-color: #142f43;
    color: white;
    font-weight: bold;
    font-size: larger;
}